<div class="divCard">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h3>Atualizar o Curso {{ nomeCurso }}</h3></mat-card-title>
    </mat-card-header>

    <form [formGroup]="formulario" *ngIf="this.formulario" (ngSubmit)="EnviarFormulario()">

      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Descrição do Curso</mat-label>
            <input type="text" matInput formControlName="descricaoCurso" placeholder="Digite a descrição do curso" required>
            <mat-error *ngIf="propriedade.descricaoCurso.touched && propriedade.descricaoCurso.invalid">
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Data de Inicio</mat-label>
            <input type="date" matInput formControlName="dtInicio" placeholder="Digite a data de inicio do curso">
            <mat-error *ngIf="propriedade.dtInicio.touched && propriedade.dtInicio.invalid">
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Data de Termino</mat-label>
            <input type="date" matInput formControlName="dtTermino" placeholder="Digite a data de termino do curso">
            <mat-error *ngIf="propriedade.dtTermino.touched && propriedade.dtTermino.invalid">
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Quantidade de Alunos</mat-label>
            <input type="number" matInput formControlName="qtdAlunos" placeholder="Digite a quantidade de alunos do curso">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Selecione a Categoria do Curso</mat-label>
            <mat-select formControlName="categoriaId">
              <mat-option *ngFor="let categoria of categorias" [value]="categoria.categoriaId">
                {{ categoria.categoriaNome }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="propriedade.categoriaId.touched && propriedade.categoriaId.invalid">
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>
        <div>
          <button type="submit" mat-stroked-button color="primary">Atualizar</button>
          <button mat-stroked-button type="button" (click)="VoltarListagem()">Voltar</button>
        </div>
      <mat-card-actions></mat-card-actions>

    </form>
  </mat-card>
</div>
