<div class="dadosCursos">

  <div class="cabecalho">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <h2 class="titulo">Cursos Cadastrados</h2>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-stroked-button color="primary" routerLink="/cursos/novocurso">Adicionar Curso</button>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

  <div class="divAutoComplete">
    <form >
      <mat-form-field class="autoCompleteInput">
        <input type="text" placeholder="Digite o nome do curso" matInput [formControl]="autoCompleteInput" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let curso of nomesCursos | async" [value]="curso"> {{ curso }}</mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <mat-form-field class="data" appearance="fill">
        <mat-label>Filtre pela data</mat-label>
        <mat-date-range-input [rangePicker]="data">
          <input matStartDate placeholder="Data inicial">
          <input matEndDate placeholder="Data final">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
        <mat-date-range-picker #data></mat-date-range-picker>
      </mat-form-field>

    <button style="margin: 20px;" mat-fab color="primary" (click)="FiltrarPelaData()">Filtrar</button>
    <button  mat-fab color="warn">Limpar</button>

    </form>
  </div>

    <table mat-table [dataSource]="cursos" class="mat-elevation-z8 tabela">

      <ng-container matColumnDef="descricaoCurso">
        <th mat-header-cell *matHeaderCellDef>Descrição do Curso</th>
        <td mat-cell *matCellDef="let curso">{{ curso.descricaoCurso }}</td>
      </ng-container>

      <ng-container matColumnDef="dtInicio">
        <th mat-header-cell *matHeaderCellDef>Data de Inicio</th>
        <td mat-cell *matCellDef="let curso">{{ curso.dtInicio | date: 'dd/MM/yy' }}</td>
      </ng-container>

      <ng-container matColumnDef="dtTermino">
        <th mat-header-cell *matHeaderCellDef>Data de Termino</th>
        <td mat-cell *matCellDef="let curso">{{ curso.dtTermino | date: 'dd/MM/yy' }}</td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categorias</th>
        <td mat-cell *matCellDef="let curso">{{ curso.categoria.categoriaNome }}</td>
      </ng-container>

      <ng-container matColumnDef="qtdAlunos">
        <th mat-header-cell *matHeaderCellDef>Quantidade de Alunos</th>
        <td mat-cell *matCellDef="let curso">{{ curso.qtdAlunos }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let curso">
          <button mat-mini-fab color="primary" [routerLink]="['/cursos/atualizarcurso', curso.cursoId]"><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab color="warn" (click)="AbrirDialog(curso.cursoId, curso.descricaoCurso)"><mat-icon>delete_forever</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
</div>
